<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Object Model</title>
    <style>
        #text{
            color: blueviolet;
        }
    </style>
</head>
<body>
    <input type="text" placeholder="Enter your Name: " id="InputData">
    <h2 id="text"></h2>
    <button onclick="result()">Click On Me!</button>

    <p id="para">Lorem ipsum,  elit. Ipsam perferendis saepe ipsum. Laborum voluptatem enim asperiores consequatur doloremque! Facere, earum?Lorem ipsum,  elit. Ipsam perferendis saepe ipsum. Laborum voluptatem enim asperiores consequatur doloremque! Facere, earum?Lorem ipsum,  elit. Ipsam perferendis saepe ipsum. Laborum voluptatem enim asperiores consequatur doloremque! Facere, earum?</p>


    <script src="DOM.js"></script>
</body>
</html>